{% extends 'HarvestCloudMarketPlaceProfileBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ account.name }}</h1>
    <table>
        <thead>
            <tr>
                <th>Journal</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for posting in postings %}

                <tr>
                    <td>{{ posting.journal.id }}</a></td>
                    <td>{{ posting.amount }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
