/*
 * This file is part of the Harvest Cloud package.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

a
{
    color: #ff3900;
}

body
{
    background: #62da9a;
    color: #bf5030;
}

/******************************************************************************

table

******************************************************************************/

table thead tr th
{
    background: rgba(0,0,0, 0.15);
}

table tbody tr td
{
    background: rgba(0,0,0, 0.1);
}

table tbody tr:nth-of-type(odd) td
{
    background: rgba(0,0,0, 0.05);
}


/******************************************************************************

logo and main nav

******************************************************************************/

div.main.nav
{
    background: #228751;
}

div.main.nav a
{
    color: #fff;
}

div.main.nav a:hover
{
    background: #007536;
}

/******************************************************************************

footer

******************************************************************************/

#footer
{
    background: rgba(0,0,0, 0.1);
}
