/*
 * This file is part of the Harvest Cloud package.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/******************************************************************************

logo and main nav

******************************************************************************/

div.main.nav
{
    margin: 1em 0;
}

div.main.nav,
div.main.nav a
{
    border-radius: 5px;
}

div.main.nav a
{
    display: block;
    padding: 2em 3em;
    float: left;
}
