/*
 * This file is part of the Harvest Cloud package.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/******************************************************************************

page

******************************************************************************/

#page
{
    max-width: 96em;
    margin: 0 auto;
}

/******************************************************************************

logo and main nav

******************************************************************************/

div.main.nav
{
    margin: 1em 0;
}

div.main.nav a
{
    display: block;
    padding: 2em 3em;
    float: left;
}

/******************************************************************************

footer

******************************************************************************/

#footer
{
    margin-top: 3em;
    padding: 2em 3em;
}
