/*
 * This file is part of the Harvest Cloud package.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/******************************************************************************

general

******************************************************************************/

body
{
    margin: 10px 15px;
}


.clear
{
    display: block;
    clear: both;
}

/******************************************************************************

table

******************************************************************************/

table
{
    width: 100%;
    border-spacing: 1px;
}

table th,
table td
{
    padding: 0.833333333em;
}

table th
{
    text-align: left;
}

td.actions form
{
    float: left;
}

table.standard tr:nth-of-type(odd) td {
}


table.nvp tr th
{
    width: 30%;
}

table.nvp tr td
{
    width: 70%;
}

/******************************************************************************

page

******************************************************************************/

#page
{
    max-width: 96em;
    margin: 0 auto;
}

/******************************************************************************

logo and main nav

******************************************************************************/

div.main.nav
{
    margin: 1em 0;
}

div.main.nav a
{
    display: block;
    padding: 2em 0;
    width: 8em;
    max-width: 25%;
    float: left;
    text-align: center;
    line-height: 100%;
}

div.main.nav a.settings
{
    padding: 1.66666666em 0 1.5em 0;
    float: right;
}

div.main.nav a.settings img
{
    width: 20px;
    height: 20px;
}

/******************************************************************************

forms

******************************************************************************/

form div.form.row
{
    margin: 1.5em 0;
}

form div.form.row label,
form div.form.row span.input.holder
{
    display: block;
}

form div.form.row label
{
    margin-bottom: 0.3em;
}

form div.form.row label.checkbox
{
    display: inline;
}

form div.buttons.form.row
{
    background: none;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
    width: 20em;
    max-width: 100%;
    padding: 1em;
}

form div.form.row input.submit.button
{
    padding: 0.5em 2em;
}

/******************************************************************************

columns

******************************************************************************/

div.two_equal_columns div.column
{
    width: 49%;
}

div.two_equal_columns div.left.column
{
    float: left;
}

div.two_equal_columns div.right.column
{
    float: right;
}

/******************************************************************************

footer

******************************************************************************/

#footer
{
    margin-top: 5em;
}

/*
* Tablets portrait
*/
@media
only screen and (max-width: 820px)
{
    /* Force table to not be like tables anymore */
    table.standard,
    table.standard thead,
    table.standard tbody,
    table.standard th,
    table.standard td,
    table.standard tr
    {
        display: block;
    }

    table.standard
    {
      border: none;
    }

    div.map_canvas
    {
        margin: 1em 0;
    }

    /* Collapse two_equal_columns */
    div.two_equal_columns div.left.column,
    div.two_equal_columns div.right.column
    {
        float: none;
        width: 100%;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    table.standard thead tr
    {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.standard tr
    {
        float: left;
        width: 23.8%;
        margin: 1.333333% 0 1.333333% 1.333333%;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 5px;
    }

    table.standard tr:nth-of-type(1),
    table.standard tr:nth-of-type(4n+1)
    {
      margin-left: 0;
    }


    table.standard tr td
    {
        border: none;
        border-top: 1px solid rgba(0,0,0,0.1);
    }

    table.standard td:nth-of-type(1)
    {
        border: none;
    }
}

/*
* Phones portrait
*/
@media
only screen and (max-width: 360px)
{
    /******************************************************************************

    logo and main nav

    ******************************************************************************/

    div.main.nav a
    {
        padding: 1em 0;
    }

    div.main.nav a.settings
    {
        padding: 0.6em 0 0.6em 0;
    }
}
