/*
 * This file is part of the Harvest Cloud package.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */


/******************************************************************************

general

******************************************************************************/

.clear
{
    display: block;
    clear: both;
}

.show_sub_tablet_portrait,
.show_sub_phone_portrait
{
  display: none;
}

body
{
    font-size: 62.5%;
    font-family: sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    color: #958770;
}

body, #contentWrapper
{
    background: #fff3e0 url(/bundles/marketplacecore/images/bg_body.png) scroll repeat center top;
}

a
{
    text-decoration: inherit;
}

h1
{
    font-weight: normal;
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h3
{
    font-weight: normal;
    font-size: 1.4em;
    color: #555;
}

h4
{
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

/******************************************************************************

main containers

******************************************************************************/

#page
{
    background: rgba(0,0,0, 0.1);
}

#header,
#content,
#footer
{
    max-width: 96em;
    margin: 0 auto;
    padding: 0 1em;
}

#headerWrapper
{
    background: rgba(149,135,112, 0.7);
}

#contentWrapper
{
}

#content
{
    padding: 2em 0;
}

/******************************************************************************

header

******************************************************************************/

#header
{
  padding-top: 3em;
}

#header div.main_logo
{
    width: 45em;
    float: left;
}

#header div.main.nav
{
    text-transform: uppercase;
}

#header div.main.nav a
{
    margin-right: 0.5em;
    display: block;
    padding: 1.2em 0;
    width: 8em;
    max-width: 20%;
    float: left;
    text-align: center;
    line-height: 100%;
    font-size: 120%;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0,0,0, 0.4);
    color: #fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#header div.main.nav a:first-of-type
{
}

#header div.main.nav a.settings
{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 15%;
    padding: 0.66666666em 0 0.5em 0;
}

body.buy #header div.main.nav a.buy,
body.sell #header div.main.nav a.sell,
body.hub #header div.main.nav a.hub,
body.settings #header div.main.nav a.settings,
body.settings #header div.main.nav a.cart
{
    background: rgba(149,135,112, 0.4);
}

body #header div.main.nav a.buy:hover,
body #header div.main.nav a.sell:hover,
body #header div.main.nav a.hub:hover,
body #header div.main.nav a.settings:hover,
body #header div.main.nav a.cart:hover
{
    background: rgba(149,135,112, 0.8);
}

#header div.main_logo img
{
    max-width: 60%;
}

#header div.main.nav a.cart,
#header div.main.nav a.settings
{
    float: right;
}

#header div.main.nav a.cart
{
    width: 10em;
    max-width: 25%;
    margin-right: 0;
}

#header div.main.nav a.settings img
{
    width: 10px;
    height: 10px;
}



/******************************************************************************

footer

******************************************************************************/

#footer
{
    padding-top: 1em;
}

#footer ul#mainNav
{
    margin: 0;
    padding: 0;
}

#footer ul#mainNav li,
#footer ul#mainNav li ul
{
    list-style: none;
    margin: 2em 0;
    padding: 0;
}

#footer #mainNav > li a
{
    color: inherit;
}

#footer #mainNav li ul li a
{
    text-transform: uppercase;
    color: inherit;
    font-weight: normal;
}

#footer ul#mainNav li h3,
#footer ul#mainNav li ul
{
    margin-left: 10px;
    margin-right: 10px;
}

#footer ul#mainNav > li
{
    float: left;
    width: 19%;
    margin-top: 0;
    margin-right: 1.25%;
}

#footer ul#mainNav > li:nth-of-type(5n+0)
{
    margin-right: 0;
}
